<polymer-element name="note-edit">
<template>

<style>
      table {
        border: 1px solid #D8D8D8;
        border-collapse: collapse;
        padding: 0px;
        margin-bottom: 10px;
      }
      td.ts {
        font-family: calibri;
        font-size: 9px;
      }
      td.user {
        font-family: cambria;
        font-weight: bold;
        font-size: 11px;
      }
      td.comment {
        font-family: verdana;
        font-size: 10px;
      }
      button {
        padding: 1px;
        background: #D8D8D8;
        border: 1px solid #999;
        font-weight: bold;
        font-size: 9px;
        text-align: center;
      }
      input {
        font-size: 10px;
      }
</style>
    
<table>
    <tr BGcolor="#D8D8D8">
      <td class=user>user:<input id="user" type="text" size="10" value="{{user}}"/></td>
      <td class=ts>({{note.code}})</td>
      <td> </td>
    </tr>
    <tr> 
      <td class=comment colspan=2>
        <br/>
        <input id="comment" type="text" value="{{comment}}" size="45" placeholder="Comment..."/></td>
      <td><button on-click="{{update}}">Update</button></td>
    </tr>
    <tr>
      <td calspan=3></td>
    </tr>
</table>
<span id="message">







</template>
<script type="application/dart" src="edit.dart"></script>
</polymer-element>


