<polymer-element name="note-component">
  <link rel="import" href="note/select.html"/>
  <template>
    <style>
      button {
        padding: 1px;
        background: #D8D8D8;
        border: 1px solid #999;
        font-weight: bold;
        font-size: 9px;
        text-align: center;
      }
    </style>
    
    <note-select id="note-select" notes="{{notes}}"></note-select>
     <button on-click="{{save}}">Save Note</button>
  </template>
  <script type="application/dart" src="polymer_app.dart"></script>
</polymer-element>
