<polymer-element name="note-add">
<template>
<style>
      button {
        padding: 1px;
        background: #D8D8D8;
        border: 1px solid #999;
        font-weight: bold;
        font-size: 9px;
        text-align: center;
</style>
      
<button on-click="{{add}}">Add</button>

</template>
<script type="application/dart" src="add.dart"></script>
</polymer-element>
